{% extends 'appcolegio/padre.html' %}

{% load static %}


{% block contenidoQueCambia %}


<div class="row">

    {% for curso in object_list %}
        <div class="card" style="width: 18rem;" >

            <img src="..." class="card-img-top" alt="...">

            <div class="card-body">

            <h5 class="card-title">{{ curso.nombre }}</h5>

            <p class="card-text">division: {{ curso.division }}</p>

            <a href="{% url 'crusoDetalle' curso.id %}" class="btn btn-primary">Ver</a>

            <a href="{% url 'cursoModificacion' curso.id %}" class="btn btn-primary">Editar</a>

            <a href="{% url 'cursoDelete' curso.id %}" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    {% endfor %}
</div>

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'cursoCreate' %}">Agregar nuevo</a>

{% endblock contenidoQueCambia %}