{% extends "appcolegio/padre.html" %}

{% load static %}


{% block contenidoQueCambia %}

</head>
       
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About this page</h2>
                        <p class="lead">This </p>
                        <ul>
                            <li>Clickable nav 
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Services we offer</h2>
                        <p class="lead">Lorem ipsum simos.</p>
                    </div>
                </div>
            </div>
        </section>
      
{% endblock contenidoQueCambia  %}