{% extends 'appcolegio/padre.html' %}

{% load static %}


{% block contenidoQueCambia %}


<div class="row">
    {% csrf_token %}
    {% for mate in object_list %}
        <div class="card" style="width: 18rem;" >

            <img src="..." class="card-img-top" alt="...">

            <div class="card-body">

            <h5 class="card-title">{{ mate.nombre }}</h5>

            <p class="card-text">CODIGO: {{ mate.codigo }}</p>
        

            <a href="{% url 'materiasDetalle' mate.id %}" class="btn btn-primary">Ver</a>

            <a href="{% url 'materiasModificacion' mate.id %}" class="btn btn-primary">Editar</a>

            <a href="{% url 'materiasDelete' mate.id %}" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    {% endfor %}
</div>

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'materiasCreate' %}">Agregar nuevo</a>

{% endblock contenidoQueCambia %}